!!! 5
%html{lang: :en, prefix: "mf: http://www.w3.org/2001/sw/DataAccess/tests/test-manifest# rdft: http://www.w3.org/ns/rdftest#"}
  %head
    %meta{"http-equiv" => "Content-Type", content: "text/html;charset=utf-8"}
    %meta{name: "viewport", content: "width=device-width, initial-scale=1.0"}
    %link{rel: "stylesheet", type: "text/css", href: "https://www.w3.org/StyleSheets/TR/base"}
    :css
      body: {bacground-image: none;}
      dl.editor>dd {
        margin: 0 0 0 40px;
      }
      dl.test-detail {
        padding: 0.5em;
      }
      dl.test-detail>dt {
        float: left;
        clear: left;
        text-align: right;
        font-weight: bold;
        color: green;
      }
      dl.test-detail>dt:after {content: ": "}
      dl.test-detail>dd {
        margin: 0 0 0 110px;
        padding: 0 0 0.5em 0;
      }
      dl.test-description>dt {margin-top: 2em;}
      dd {margin-left: 0;}
      dd code {display: inline;}
      footer {text-align: center;}
    %title
      = man['label']
    :css
      em.rfc2119 { 
        text-transform: lowercase;
        font-variant:   small-caps;
        font-style:     normal;
        color:          #900;
      }
      a.testlink {
        color: inherit;
        text-decoration: none;
      }
      a.testlink:hover {
        text-decoration: underline;
      }
      .warning {color: orange;}
      .error {color: red;}

  %body{resource: man['@id'], typeof: man['@type']}
    %p
      %a{href: "http://www.w3.org/"}
        %img{src: "http://www.w3.org/Icons/w3c_home", alt: "W3C", height: 48, width: 72}
    %h1{property: "rdfs:label"}<= man['label']
    %dl.editor
      %dt="Document Editor"
      %dd
        %a{href: "mailto:eric+turtle@w3.org"}
          Eric Prud'hommeaux
        – W3C
      %dd
        %a{href: "mailto:gregg@greggkellogg.net"}
          Gregg Kellogg
        – Kellogg Associates
    :markdown
      [Copyright](http://www.w3.org/Consortium/Legal/ipr-notice#Copyright) © 2010 [<acronym title="World Wide Web Consortium">W3C</acronym>](http://www.w3.org/)<sup>®</sup> ([<acronym title="Massachusetts Institute of Technology">MIT</acronym>](http://www.csail.mit.edu/), [<acronym title="European Research Consortium for Informatics and Mathematics">ERCIM</acronym>](http://www.ercim.org/), [Keio](http://www.keio.ac.jp/)), All Rights Reserved. W3C [liability](http://www.w3.org/Consortium/Legal/ipr-notice#Legal_Disclaimer), [trademark](http://www.w3.org/Consortium/Legal/ipr-notice#W3C_Trademarks), and [document use](http://www.w3.org/Consortium/Legal/copyright-documents) rules apply.
    %hr{title: "Separator for header"}

    %div
      %h2{id: "abstract"}="Abstract"
      %p{property: "rdfs:comment"}
        = Array(man['comment']).join(' ').gsub(/\s+/m, ' ').strip.gsub(/(MUST|SHOULD|MAY)/, '<em class="rfc2119">\\1</em>')
      :markdown
        This page describes W3C RDF Working Group's N-Triples test suite. This test suite contains two kinds of tests:

        * Positive syntax (`rdft:TestNTriplesPositiveSyntax`) - an input N-Triples file with no syntax errors.
        * Negative syntax (rdft:TestNTriplesNegativeSyntax) - an input N-Triples file with at least one syntax error.

        These tests are also described in [Turtle](manifest.ttl) format in this directory for convenience. All tests have a name (`mf:name`) and an input (`mf:action`).

        * An implementation passes a positive syntax test if it parses the
          input.
        * An implementation passes a negative syntax test if it fails to parse
          the input.

        Tests can be run from the web or by downloading either a [tarball](TESTS.tar.gz) or [zip file](TESTS.zip).

        The home of the test suite is <http://www.w3.org/2013/N-TriplesTests/>.

        See <http://www.w3.org/2011/rdf-wg/wiki/RDF_Test_Suites> for more details.

        ## Contributing Tests
        The test manifests and entries are built automatically from [manifest.ttl](manifest.ttl) using a Rake task. Tests may be contributed via pull request to [https://github.com/w3c/rdf-tests](https://github.com/w3c/rdf-tests) with suitable changes to the [manifest.ttl](manifest.ttl) and referenced files.

        ## Distribution
          Distributed under both the [W3C Test Suite License](http://www.w3.org/Consortium/Legal/2008/04-testsuite-license) and the [W3C 3-clause BSD License](http://www.w3.org/Consortium/Legal/2008/03-bsd-license). To contribute to a W3C Test Suite, see the [policies and contribution forms](http://www.w3.org/2004/10/27-testcases).

        ## Disclaimer
          UNDER BOTH MUTUALLY EXCLUSIVE LICENSES, THIS DOCUMENT AND ALL DOCUMENTS, TESTS AND SOFTWARE THAT LINK THIS STATEMENT ARE PROVIDED "AS IS," AND COPYRIGHT HOLDERS MAKE NO REPRESENTATIONS OR WARRANTIES, EXPRESS OR IMPLIED, INCLUDING, BUT NOT LIMITED TO, WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, NON-INFRINGEMENT, OR TITLE; THAT THE CONTENTS OF THE DOCUMENT ARE SUITABLE FOR ANY PURPOSE; NOR THAT THE IMPLEMENTATION OF SUCH CONTENTS WILL NOT INFRINGE ANY THIRD PARTY PATENTS, COPYRIGHTS, TRADEMARKS OR OTHER RIGHTS.
          COPYRIGHT HOLDERS WILL NOT BE LIABLE FOR ANY DIRECT, INDIRECT, SPECIAL OR CONSEQUENTIAL DAMAGES ARISING OUT OF ANY USE OF THE DOCUMENT OR THE PERFORMANCE OR IMPLEMENTATION OF THE CONTENTS THEREOF.

    %div
      %h2
        Test Descriptions
      %dl.test-description
        - man['entries'].each do |test|
          %dt{id: test['@id']}
            %a.testlink{href: "##{test['@id']}"}
              = "#{test['@id']}:"
            %span{about: test['@id'], property: "mf:name"}<~test['name']
          %dd{property: "mf:entry", inlist: true, resource: test['@id'], typeof: test['@type']}
            %div{property: "rdfs:comment"}
              :markdown
                #{Array(test['comment']).join(' ').gsub(/\s+/m, ' ').strip.gsub(/(MUST|SHOULD|MAY)/, '<em class="rfc2119">\\1</em>')}
              - if test['type'] =~ /Negative/
                %p.error
                  Negative Test
            %dl.test-detail
              %dt="type"
              %dd<~test['@type']
              %dt="approval"
              %dd{property: "mf:approval", resource: test['approval']}<~test['approval']
              - if test['action']
                %dt="action"
                %dd
                  %a{property: "mf:action", href: test['action']}<~test['action']
              - if test['result']
                %dt="result"
                %dd
                  %a{property: "mf:result", href: test['result']}<~test['result']

    %footer
      :markdown
        [Copyright ©](http://www.w3.org/Consortium/Legal/ipr-notice#Copyright) 2015 [W3C](http://www.w3.org/)® ([MIT](http://www.csail.mit.edu/), [ERCIM](http://www.ercim.org/), [Keio](http://www.keio.ac.jp/), [Beihang](http://ev.buaa.edu.cn/)). W3C® [liability](http://www.w3.org/Consortium/Legal/ipr-notice#Legal_Disclaimer), [trademark](http://www.w3.org/Consortium/Legal/ipr-notice#W3C_Trademarks) and [document use](http://www.w3.org/Consortium/Legal/copyright-documents) rules apply.
